<div class="player-display cf">
  <div class="player-general">
    <h1><%=player.lastName%>, <%=player.firstName%> <span class='position'><%=player.pos%></span></h1>
  </div>
  <div class="player-detailed">
    <p>Height: <%=Math.floor(player.height/12)%>&#39;<%=player.height%12%></p>
    <p>Weight: <%=player.weight%> lbs</p>
    <p>Birth Year: <%=player.birthYear%></p>
  </div>
</div>

<svg id="stats-graph" width="800" height="500"></svg>

<table class="seasons" cellspacing="0">
  <thead>
    <tr id="season-header">
      <td class="stat-expand"></td> 
      <td class="stat-lg">League</td>
      <td class="stat-year">Year</td>
      <td class="stat-team">Team</td>
      <td class="stat-pos">Pos</td>
      <td class="stat-GP">GP<span></span></td>
      <td class="stat-G">G<span></span></td>
      <td class="stat-A">A<span></span></td>
      <td class="stat-PPA">PPA<span></span></td>
      <td class="stat-PPG">PPG<span></span></td>
      <td class="stat-Pts">Pts<span></span></td>
      <td class="stat-PlusMinus">+/-<span></span></td>
      <td class="stat-SOG">SOG<span></span></td>
      <td class="stat-GWG">GWG<span></span></td>
      <td class="stat-GTG">GTG<span></span></td>
      <td class="stat-PIM">PIM<span></span></td>
    </tr>
  </thead>
  <tbody>
  <%_.each(seasons, function(season, id){%>

    <tr id="season-<%=season.year%>">
      <td class="stat-expand">
        <% if (season.parts) {%>
          <button>+</button>
        <%};%>
      </td>
      <td class="stat-lg"><%=season.lgID%></td>
      <td class="stat-year"><%=season.year%></td>
      <td class="stat-team">
        <% if(season.tmID !== 'VAR') {%>
          <a href="/#players?team=<%=season.tmID%>&year=<%=season.year%>"><%=season.tmID%></a>
        <% } else { %>
          <%=season.tmID%>
        <% } %>
      </td>
      <td class="stat-pos"><%=season.pos%></td>
      <td class="stat-GP"><%=season.GP%></td>
      <td class="stat-G"><%=season.G%></td>
      <td class="stat-A"><%=season.A%></td>
      <td class="stat-PPA"><%=season.PPA%></td>
      <td class="stat-PPG"><%=season.PPG%></td>
      <td class="stat-Pts"><%=season.Pts%></td>
      <td class="stat-PlusMinus"><%=season.PlusMinus%></td>
      <td class="stat-SOG"><%=season.SOG%></td>
      <td class="stat-GWG"><%=season.GWG%></td>
      <td class="stat-GTG"><%=season.GTG%></td>
      <td class="stat-PIM"><%=season.PIM%></td>

    </tr>

    <% if (season.parts) {%>
      <tbody id="parts-<%=season.year%>" class="season-parts">
      <% _.each(season.parts, function(season, id) { %>
        <tr>
          <td class="stat-expand"></td>
          <td class="stat-lg"><%=season.lgID%></td>
          <td class="stat-year"><%=season.year%></td>
          <td class="stat-team"><a href="/#players?team=<%=season.tmID%>&year=<%=season.year%>"><%=season.tmID%></a></td>
          <td class="stat-pos"><%=season.pos%></td>
          <td class="stat-GP"><%=season.GP%></td>
          <td class="stat-G"><%=season.G%></td>
          <td class="stat-A"><%=season.A%></td>
          <td class="stat-PPA"><%=season.PPA%></td>
          <td class="stat-PPG"><%=season.PPG%></td>
          <td class="stat-Pts"><%=season.Pts%></td>
          <td class="stat-PlusMinus"><%=season.PlusMinus%></td>
          <td class="stat-SOG"><%=season.SOG%></td>
          <td class="stat-GWG"><%=season.GWG%></td>
          <td class="stat-GTG"><%=season.GTG%></td>
          <td class="stat-PIM"><%=season.PIM%></td>
        </tr>
      <% }) %>
      </tbody>
    <%};%>

  <%});%>
  </tbody>
</table>

<script>
  setTimeout(function(){
    $paths = $('path');
    $paths.each(function(index, path){
      var length = path.getTotalLength();
      path.style.transition = path.style.WebkitTransition =
'none';
      $(path).attr('stroke-dasharray', length + " " + length);
      $(path).attr('stroke-dashoffset', length);
      path.getBoundingClientRect();
      path.style.transition = path.style.WebkitTransition =
'stroke-dashoffset 2s ease-in-out';
path.style.strokeDashoffset = '0';
    });
    renderBoxes();
  }, 0);

function renderBoxes(){
    $boxes = $('#season-header span');
    $boxes.each(function(i, box){
      stat = $(box).parent().text();
      if (stat === '+/-'){
        stat = 'PlusMinus';
      }
      $line = $('.' + stat);
      if ($line.attr('style').indexOf('display: none') === -1) {
        $(box).css('background', $line.attr('stroke'));
      }else{
        $(box).css('background', 'none');
      }
    });
  }

</script>