<% if (collection[0].teams.length !== 0){ %>
<div class="info teams">
  <h1>Teams <span class="triangle">&blacktriangledown;</span></h1>
  <% _.each(collection[0].teams, function(team, index){%>

  <h2><a href="/#players?team=<%=team.tmID%>&year=<%=team.year%>"><%= team.name %>, <%=team.year %></a></h2>

  <%});%>
</div>
<% } %>

<% if (collection[0].players.length !== 0){ %>
<div class="info players">
  <h1>Players <span class="triangle">&blacktriangledown;</span></h1>
  <% _.each(collection[0].players, function(player, index){%>

  <h2><a href="/#players/<%=player.playerID%>"><%= player.lastName %>, <%= player.firstName %></a></h2>

  <%});%>
</div>
<% } %>