<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>We Need A...</title>
  <script src='/javascripts/lib/jquery-1.11.1.min.js'></script>
  <script src='/javascripts/lib/underscore-min.js'></script>
  <script src='/javascripts/lib/backbone-min.js'></script>
  <script src='/javascripts/lib/d3-min.js'></script>
  <link rel="stylesheet" href="/stylesheets/styles.css">  
  <link rel="stylesheet" href="/stylesheets/normalize.css">


</head>
<body>

  <%= yield %>

  <script src='/javascripts/models/player.js'></script>
  <script src='/javascripts/collections/player-collection.js'></script>
  <script src='/javascripts/views/player-view.js'></script>
  <script src='/javascripts/views/player-collection-view.js'></script>
  <script src='/javascripts/routers/router.js'></script>
  <script src='/javascripts/main.js'></script>
</body>
</html>